.fluid-container {
  background: linear-gradient(to right, rgb(140, 67, 236), rgb(100, 216, 231));
  padding-bottom: 0%;
  height: 40px;
}

.header-text {
  color: white;
  font-size: 20px;
  margin-top: -10px;
}

.top-container {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
}
