.row {
  margin-right: 0px;
}

.footer {
  height: 100px;
  background-color: orange;
  color: red;
}

.bottom  {
  color: purple;
}

.pb-0 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

// .col-12 {
//   height: 50px;
//   padding:0px;
// }

