.p {
  margin: 0px;
}

.footer-content {
  margin-top: 5%;
  background-color: orange;
  padding-top: 0%;
  margin-top: 0px;
  color: red;
}

.bottom  {
  color: purple;
}

.pb-0 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

.col-12 {
  padding:0px;
}

