.container-fluid {
  height: 100vh;
  padding: 0px;
}

.generic-inspirational-quote {
  position: absolute;
  color: white;
  height: 220px;
  width: 800px;
  bottom: 280px;
  left: 10px;
  font-size: 28px;
}
