.container-fluid {
  background: mediumpurple;
  height: 100vh;
  padding: 0px;
}

.generic-inspirational-quote {
  position: absolute;
  bottom: 420px;
  right: 250px;
  color: white;
  font-size: 36px;
  height: 100px;
  width: 1000px;
}

// @font-face {
//   font-family: "White Systemattic";
//   src: local("White Systemattic"), url(./assets/fonts/WhiteSystemattic/WhiteSystemattic) format("truetype");
// }
