.navbar {
  height: 90px;
  width: 100%;
  background: linear-gradient(to right,rgb(85, 160, 247),yellow,red);
  padding-top: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.col-xs-4 {
  font-size: 20px;
  background-color: rgb(204, 202, 202);
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
}

// .nav-link::after {
//   content: ' |';
// }

// .nav-link::before {
//   content: '|  '
// }

.form-inline {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 7px;
}

.col-xs-4.form-control {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-brand {
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 160px;
  font-size: 30px;
  font-weight: bold;
}

.navbar-header {
  color: black;
  background-color: rgb(214, 94, 214);
  padding-right: 30px;
  border-color: black;
  border-style: solid;
  height: 70px;
}

p {
  color: black;
  padding-top: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}
