<nav class="navbar navbar-expand navbar-dark">
  <a href="#" class="col-xs-4 navbar-brand">Logo</a>
    <div class="container">
      <ul class="col-xs-4 navbar-nav mx-auto">
        <li class="nav-item"><a href="#" class ="nav-link">Winter</a></li>
        <li class="nav-item"><a href="#" class ="nav-link">Spring</a></li>
        <li class="nav-item"><a href="#" class ="nav-link">Summer</a></li>
        <li class="nav-item"><a href="#" class ="nav-link">Fall</a></li>
      </ul>
      <form class="form-inline">
        <input type="text" class="col-xs-4 form-control" placeholder="Maybe Search Function?">
      </form>
    </div>
</nav>
