<nav class="navbar navbar-expand navbar-dark">
  <a routerLink="" routerLinkActive="active" class="col-xs-4 navbar-brand">Home</a>
    <div class="container">
      <ul class="col-xs-4 navbar-nav mx-auto">
        <li class="nav-item"><a routerLink="/app-winter-page" routerLinkActive="active" class ="nav-link" (click)="generateImage();">Frozen Wonderland</a></li>
        <ul></ul>
        <li class="nav-item"><a routerLink="/app-test-page" routerLinkActive="active" class ="nav-link" (click)="generateImage();">Deep Woods</a></li>
        <ul></ul>
        <li class="nav-item"><a routerLink="/app-fall-page" routerLinkActive="active" class ="nav-link" (click)="generateImage();">Changing Seasons</a></li>
        <ul></ul>
        <li class="nav-item"><a routerLink="/app-spring-page" routerLinkActive="active" class ="nav-link" (click)="generateImage();">A Good Book</a></li>
      </ul>
      <!-- <form class="form-inline">
        <input type="text" class="col-xs-4 form-control" placeholder="Maybe Search Function?">
      </form> -->
    </div>
</nav>
