.container-fluid {
  height: 100vh;
  padding: 0px;
}

.generic-inspirational-quote {
  position: absolute;
  bottom: 200px;
  right: 200px;
  color: black;
  height: 200px;
  width: 200px;
  font-size: 25px;
  font-weight: bold;
}
