.container-fluid {
  height: 100vh;
  padding: 0px;
}

.generic-inspirational-quote {
  position: absolute;
  color: white;
  height: 220px;
  width: 500px;
  bottom: 90px;
  left: 750px;
  font-size: 28px;
}
