.container-fluid {
  height: 100vh;
  padding: 0px;
}

.generic-inspirational-quote {
  position: absolute;
  bottom: -90px;
  right: 220px;
  color: white;
  height: 180px;
  width: 800px;
  font-size: 28px;
  font-weight: bold;
  color: black;
}
